.pokemon-list-wrapper{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pokemon-wrapper{
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.controls button{
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: none;
    font-size: 15px;
    color: red;
    font-weight: bold;
    background-color: rgb(230, 209, 249);
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 2rem;
}